.star {
    font-size: 2rem;
}

.gold {
    color: gold;
}

.gray {
    color: lightgray;
}


.fas.btn {
    font-weight: 900;
}


.card-footer .btn {
    margin: 0.3rem;
}

/* this is for the profile page image upload text, aligns the file name left */
.custom-file-label {
    text-align: left !important;
}